html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    
}
.phone{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    background: url('../images/bg.jpg') no-repeat center;
    background-size: cover;
}
.send-input{
    position: absolute;
    left: 10px;
    bottom: 20px;
    padding: 10px 4px;
    font-size: 16px;
    width: 70%;
    border: 1px solid green;
    border-radius: 5px;
    text-align: left;
}
.send-btn{
    position: absolute;
    left: 80%;
    bottom: 20px;
    margin-left: 0px;
    padding: 8px 0;
    font-size: 16px;
    width: 60px;
    background: #23abe2;
    color: #fff;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.message-area{
    position: absolute;
    left: 10px;
    bottom: 80px;
    width: 60%;
    height: 200px;
}

.mobile-live-message-item-text{
    background: rgba(0,0,0,0.3);
    margin-bottom: 10px;
    padding: 4px;
    color: #fff;
    border-radius: 4px;
    line-height: 1;
    font-size: 14px;
}
.icon{
    width: 20px;
    vertical-align: middle;
}
.mobile-live-message-item-text span{
    vertical-align: middle;
    padding-left: 10px;
    font-size: 14px;
}